{% extends "goals/layout.html" %}

{% load static %}
{% load humanize %}

{% block title %} {{ goal }} {% endblock %}


{% block script %}

    <!-- This script block passes django template variables to the javasript file  -->
    <script>
        var goal_id="{{ goal.id }}";
        var goal_units="{{ goal.units|title }}";
        var goal_total="{{ goal.total }}"
    </script>

{% endblock%}

{% block body %}

<!-- Primary Container for viewing goal information -->
<div class="container-flex">

    <div class=row>

        <div class="col-sm-12 col-md-6">

            <div class="jumbotron">

                <h1 class="display-4">{{ goal|lower|title }}</h1>

                <h2>{{ total|intcomma }}/{{ goal.total|intcomma }} {{ goal.units    }}</h2>

                <h5>Progress:</h5>

                <ul>

                    {% for log in progress|slice:":5" %}

                        <li>
                            <span id="{{goal.id}}_{{ log.id }}_text">{{ log.timestamp|date:"F d, Y" }}: {{ log.quantity|intcomma}} {{ log.goal.units }}</span>
                            <button type="button" class="btn btn-light edit btn-sm">Edit</button>
                        </li>

                        <!-- This is the progress-log edit form.  Hidden by default  -->
                        <li class="hidden">
                            <form class="progress_edit">
                                {% csrf_token %}
                                <div class="form-row progress-block" >
                                    <div class="form-group col">
                                        <label for="progress-quantity">Edit Progress</label>
                                        <input type="number" name='quantity_edit' class="form-control" placeholder="{{ log.quantity }}" required>
                                    </div>
                                    <div class="form-group col">
                                        <label for="progress-date">Edit Date</label>
                                        <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control date-progress" placeholder="{{ log.timestamp|date:'m/d/Y' }}" name="date_edit" required>
                                    </div>
                                </div>
                                    <div class="form-row">
                                    <input class="hidden" name="progress_id" value="{{ log.id }}">
                                    <input class="hidden" name="goal_id" value="{{ goal.id }}">
                                    <button type="submit" class="btn btn-light">Submit</button>
                                    <button type="button" class="btn btn-secondary progress-cancel">Cancel</button>
                                </div>
                            </form>
                        </li>

                    {% empty %}

                        <li>
                            You haven't logged any progress yet!  Get Your Act together!
                        </li>

                    {% endfor %}

                    {% if progress|length > 5 %}

                    <li>
                        <button type="button" class="btn btn-secondary" id="show_button" onclick=showlist()>View More</button>
                        <button type="button" class="btn btn-secondary full_list hidden" id="hide_button" onclick=hidelist()>View Less</button>
                    </li>

                        <ul class="hide full_list">

                            {% for log in progress|slice:"5:" %}

                            <li>
                                <span id="{{goal.id}}_{{ log.id }}_text">{{ log.timestamp|date:"F d, Y" }}: {{ log.quantity|intcomma}} {{ log.goal.units }}</span>
                                <button type="button" class="btn btn-light edit btn-sm">Edit</button>
                            </li>

                            <li class="hidden">
                                <form class="progress_edit">
                                    {% csrf_token %}
                                    <div class="form-row progress-block" >
                                        <div class="form-group col">
                                            <label for="progress-quantity">Edit Progress</label>
                                            <input type="number" name='quantity_edit' class="form-control" placeholder="{{ log.quantity }}" required>
                                        </div>
                                        <div class="form-group col">
                                            <label for="progress-date">Edit Date</label>
                                            <input onfocus="(this.type='date')" onblur="(this.type='text')" class="form-control date-progress" placeholder="{{ log.timestamp|date:'m/d/Y' }}" name="date_edit" required>
                                        </div>
                                    </div>
                                        <div class="form-row">
                                        <input class="hidden" name="progress_id" value="{{ log.id }}">
                                        <input class="hidden" name="goal_id" value="{{ goal.id }}">
                                        <button type="submit" class="btn btn-light">Submit</button>
                                        <button type="button" class="btn btn-secondary progress-cancel">Cancel</button>
                                    </div>
                                </form>
                            </li>

                            {% endfor %}

                        </ul>

                    {% endif %}

                </ul>
            </div>
        </div>

        <!-- This is the Div for the chart.  Gets filled in by javascript  -->
        <div class="col-sm-12 col-md-6">
            <canvas id="myChart"></canvas>
        </div>

    </div>
</div>

<br/>

<!-- The Form for submitting goal progress -->
<div class="container-flex">

    <h2>Add Progress!</h2>

    <form method="post" id="progress">

        {% csrf_token %}

        <div class=hidden>
            <input type="text" name="goal" value="{{ goal.id }}">
        </div>

        <div class="form-row progress-block" >
            <div class="form-group col">
                <label for="progress-quantity">How Much Progress Are You logging?</label>
                <input type="number" id="progress-quantity-1" name='progress-quantity-1' class="form-control" placeholder="This Many {{ goal.units|title }}" required>
            </div>
            <div class="form-group col">
                <label for="progress-date-1">Date</label>
                <input type="date" class="form-control date" name="progress-date-1" required>
            </div>
        </div>

        <!-- This extra-progress form is hidden by default -->
        <div class="form-row progress-block hide">
            <div class="form-group col">
                <label for="progress-quantity">More Progress</label>
                <input type="number" id="progress-quantity-2" name='progress-quantity-2' class="form-control" placeholder="This Many {{ goal.units|title }}" >
            </div>
            <div class="form-group col">
                <label for="progress-date-2">Date</label>
                <input type="date" class="form-control date" name="progress-date-2">
            </div>
        </div>

        <!-- This extra-progress form is hidden by default -->
        <div class="form-row progress-block hide">
            <div class="form-group col">
                <label for="progress-quantity">Even More Progress!</label>
                <input type="number" id="progress-quantity-3" name='progress-quantity-3' class="form-control" placeholder="This Many {{ goal.units|title }}" >
            </div>
            <div class="form-group col">
                <label for="progress-date-3">Date</label>
                <input type="date" class="form-control date" name="progress-date-3">
            </div>
        </div>

        <!-- The Form Submit button and the button to reveal the extra-progress sections of the form -->
        <div class="form-row">
            <button type="submit" class="btn btn-light">Submit</button>
            <button type="button" class="btn btn-secondary show" id="show_more">Log More Progress</button>
        </div>

    </form>

    <br/>

    <h2>Submit CSV with Progress (beta feature)</h2>

    <p>
        This is a beta-feature for bulk-uploading progress from a csv file.
        The first column must be dates (formatted as "YYYY-MM-DD")
        and the second column must be the quantity of progress associated
        with that date. The first row is assumed to be headers and will not be read.
        Please don't upload any viruses or anything!
    </p>

    <!-- Form for submitting a csv -->
    <form action="{% url 'csv' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input class="hidden" name="goal" value="{{ goal.id }}">
        <div class="form-row">
            <button type="submit" class="btn btn-light">Submit</button>
        </div>
    </form>

</div>

{% endblock %}
