{% extends "goals/layout.html" %}

{% block title %} New Goal {% endblock %}

{% block body %}

<div class = "container text-center show">

    <header class = "col-12 text-center">
        <h2>Set a New Goal</h2>
    </header>

    <div class = "row">

        <div class="col-12 goal-panel">

            <h3>Journey</h3>

            <p>A journey of a thousand miles begins with a single step . . . That's gonna be a lot of steps.  We'll help you keep you on track</p>
            <button type="button" class = "btn btn-light" id="show_journey_form">Plan Your Journey</button>
            <p>Perfect for any goal with incrementable progress and regular updates</p>
            <ul>
                <li>
                    <p>Examples:</p>
                </li>
                <ul>
                    <li>Write a novel</li>
                    <li>Do 1,000 Pushups</li>
                    <li>Increase your savings account</li>
                </ul>
            </ul>
        </div>
    </div>
</div>


<!-- This is the form for a new 'journey' goal.  Hidden by default   -->
<div class="container hide hide_journey">
    <form method="post" id="new_journey">

        {% csrf_token %}
        <!-- Hidden Input describing the type of goal being submitted on the form -->
        <input class="hidden" name = "goal_type" value = "journey">

        <h2>A New Journey</h2>

        <div class="form-row">
            <div class="form-group col">
                <input type="text" name='journey-title' class = "form-control" placeholder="Name the Goal"  required>
                <small class="form-text text-muted" for="journey-title">Example: Write a Book</small>
            </div>
        </div>

        <h4>Define Your Goal</h4>

        <div class="form-row">
            <div class="form-group col">
                <input type="number" id = "journey-quantity" name="journey-quantity" class = "form-control" min="1" max="10000000" placeholder="I need to do this many . . " required>
                <small class="form-text text-muted" for="journey-quantity">Example: 100,000 . . .</small>
            </div>
            <div class="form-group col">
                <input type="text" class="form-control" id="journey-unit" name='journey-unit' aria-describedby="unitofprogresshelp" placeholder=" . . .Of this task" required>
                <small id="unitofprogresshelp" class="form-text text-muted">. . . Words Written </small>
            </div>

        </div>

        <h4>Commit to Regular Updates</h4>
        <div class="form-row">
            <div class="form-group col">
                <input type="number" id = "journey-chunk-size" name='journey-chunk-size' class = "form-control" min="1" max="10000000" placeholder="I'll do at least this many" required>
                <small class="form-text text-muted" for="journey-chunk-size">Example: 1,000 . . . </small>
            </div>
            <div class="form-group col">
                <input type="number" class="form-control" id="journey-period" name='journey-period' aria-describedby="unitofprogresshelp" placeholder="Per This Many Days " required>
                <small id="journey-periodhelp" class="form-text text-muted"> . . .Every 7 days </small>
            </div>
        </div>

        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="journey-private" name='journey-private'>
            <label class="form-check-label" for="journey-private">
                Check to make the Goal Private
            </label>
        </div>
        <div class="form-row">
            <button type="submit" class="btn btn-light">Submit</button>
            <button type="button" class="btn btn-secondary closer">Back</button>
        </div>
    </form>
</div>

{% endblock %}
