$background: #3AAFA9;
$PrimaryText: #FEFFFF;
$SecondaryText: #17522A;
$PrimaryAccent: #DEF2F1;
$SecondaryAccent: #2B7A78;
$LightTeal: #64b9b2;
$font: Monsterrat;


* {
    font-family: $font, sans-serif !important;
}

html {
    background-color: $background;
    font-family: $font, sans-serif !important;

}

.navbar-custom {
    background-color: $background !important;
    color:white !important;
}

.navbar-brand {
    color:white !important;
    font-weight: bold !important;
    font-size: 1.75rem !important;
}

.nav-link {
    color:white !important;
    font-weight: bold !important;
    font-size: 1rem !important;
}

.jumbotron {
    background-color: $LightTeal !important;
    color:white !important;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    height: 100%;
    overflow-y: auto;
}

.card {
    background-color: $LightTeal !important;
    color:white !important;
}


.btn-sm {
    font-size: .7rem !important;
}

body {
    background-color: $background;
}

p {
    color: $SecondaryText;
    font-weight: bold;
}

.goal-panel {
    background-color: $LightTeal;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    padding-bottom: 1rem;
    border-radius: 2rem;
}

@for $index from 1 through 6 {
  h#{$index}{
      color:white !important;
  }
}

ul {
    list-style: none;
    padding-inline-start: 0px;
}

li {
    margin-bottom: .5rem;
}

.container-flex {
    margin-left: 5rem;
    margin-right: 5rem;
}

label {
    color: $SecondaryText !important;
}

.btn-light{
    background-color: $PrimaryAccent;
    border-color: $PrimaryAccent;
    color: $SecondaryText;
}

.hide {
    display: none;
}

.hidden {
    display: none;
}
